body {
    border: 1px solid #e6dfdf;
    width: 300px;
    box-shadow: 10px 10px 5px 1px #e4e1e1;
    padding: 0px 15px 15px 15px;
}

section {
    border: 1px solid #e6dfdf;
    width: 279px;
    padding: 10px 10px 10px 10px;
    margin-top: 15px;
}

ul {
    padding: 0px;
}

li {
    list-style: none;
}

#animal-fact {
    font-style: italic;
}

.label-list {
    font-weight: bold;
}